
@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-Medium.ttf");
}

.input-icon {
    width: 30px;
    height: 30px;
    margin-left: 18px;
}
label.icon_label {
    position: absolute;
    padding: 0;
    margin: 0;
    height: fit-content;
    margin-top: 2px;
}
.validate-error {
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: rgb(153, 8, 8);
    font-weight: bold;
    margin: 0;
    align-self: flex-start;
    margin-left: 5px;
}
.checkbox-label {
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
button {
    transition: 300ms ease-in;
    border: none;
    border-radius: 5px;
    align-self: flex-start;
    width: 129px;
    height: 60px;
    background-color: #ff7979;

    font-size: 15px;
    color: #F8F9FB;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;

    &:disabled {
        background-color: #FF9090;
        cursor: no-drop;
    }
    &:hover {
        transform: translateY(-3px);
        background-color: #FF9090;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Скрываем стрелочки для Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.back {
    font-size: 16px;
    color: #008BD9;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-left: -25px;
}